@model Call_Centre_Management.Models.Employees

@{
    ViewBag.Title = "Employee_Login";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}


<script>
    $(function () {
        $('#userName, #password').unbind('focusout');
    });


    function login() {

        var user = $('#userName').val();
        var pass = $('#password').val();
        $('#loader').fadeIn();
        $.ajax({
            url: '/Login/Emp_Login',
            data: { UserName: user, UserPassword: pass },
            success: function (data) {
                $('#loader').fadeOut();
                if (data != "window.location = '../'") {
                    ShowMessage(data, 'error');
                    $('#password').val('');
                    $('#userName').focus();
                }
            },


            error: function () {
                $('#loader').fadeOut();
            }
        });
    }


    function enter(e, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode

        if (charCode == 13) {
            login();

        }
    }



    function ForgetPassword() {
        $('#email').val('');
        $("#popupdiv").dialog({
            title: 'FORGET PASSWORD',
            width: 600,
        });
    }

    function CheckEmailId() {

        $('#loader').fadeIn();
        var email = $('#email').val();
        if (email != '') {
            $.ajax({
                url: '/login/checkEmailID',
                data: { email: email },
                success: function (data) {
                    if (data == 'Done') {
                        ShowMessage('Your Password is Sent to your EmailId', 'warning');
                        $("#popupdiv").dialog('close');
                        $('#loader').fadeOut();
                    }
                    else {
                        ShowMessage(data, 'error');
                        $('#loader').fadeOut();
                    }
                },
                error: function () {
                    $('#loader').fadeOut();
                }
            })
        }
        else {
            ShowMessage('Please Enter EmailID!!...', 'error');
            $('#loader').fadeOut();
        }
    }

</script>
@*<h2>Login</h2>*@
<div style="text-align: center;margin-top:5%;">

    <div class="login-logo" style="padding:4px;">
        <a href="#">
            <img src="~/Img/jivo-wellness.png" />
        </a>
    </div><!-- /.login-logo -->
    <div class="panel panel-primary" style="display:inline-block; width:350px; text-align:left">
        <div class="panel-heading">
            <h3 class="panel-title" style="align-content:center">LOGIN DETAILS</h3>
        </div>
        <div class="panel-body">
            @*<form action="/" method="post" onsubmit="Login()">*@
            <table class="table-condensed">
                <tr>
                    <td>USER NAME</td>
                    <td><input type="text" id="userName" onkeypress="return enter(this.id, event)" class="form-control" autofocus /></td>
                </tr>
                <tr>
                    <td>PASSWORD</td>
                    <td><input type="password" id="password" onkeypress="return enter(this.id, event)" class="form-control" /></td>
                </tr>
                <tr>

                    <td align="right"></td>
                    <td align="right">
                        <input type="button" value="LOGIN" onclick="login()" class="btn btn-primary" />&nbsp;&nbsp;&nbsp;
                        <a href="#" onclick="ForgetPassword()">Forget Password ?</a>
                    </td>
                </tr>
            </table>
            @*</form>*@
        </div>
    </div>
</div>


<div class="panel panel-primary" style="float: left;width: 100%; display:none;" id="popupdiv">

    <div class="panel-body">
        <table class="table table-condensed table-hover">
            <tr>
                <td>ENTER EMAILID:</td>
                <td><input id="email" type="text" class="form-control" placeholder="YOUR EMAIL ID" /> </td>
            </tr>

            <tr>
                <td colspan="2" align="center" style="padding-top:32px; padding-left:160px;">
                    <input type="button" value="SUBMIT" onclick="CheckEmailId()" class="btn btn-info" />
                    <input type="button" value="CANCEL" onclick="$('#popupdiv').dialog('close');" class="btn btn-info" />
                </td>
            </tr>
        </table>
    </div>
</div>

