@model Call_Centre_Management.Models.Employees




    <script type="text/javascript">
        debugger
        function login() {
            //var EmpLoyeeLogins = {}
            //EmpLoyeeLogins.userName = $('#userName').val();
            //EmpLoyeeLogins.Password = $('#password').val();
            $('#loader').fadeIn();
        $.ajax({
            url: '/Login/Emp_Login',
            method: 'GET',
            data: { Username: $('#userName1').val(), Password: $('#password1').val()},
            success: function (data) {

          //  alert(data.val);
                console.log(data.val);
             window.location = "../Login/Emp_Login";
                $('#loader').fadeOut();
                //if (data != "window.location = 'Login/Emp_Login'") {
            //    ShowMessage(data, 'error');
            //    $('#password').val('');
            //    $('#userName').focus();
            //}
        }
        })
    };
</script>

<div style="text-align: center;margin-top:5%;">

    <div class="login-logo" style="padding:4px;">
        <a href="#">
            <img src="~/Img/jivo-wellness.png" />
        </a>
    </div><!-- /.login-logo -->
    <div class="panel panel-primary" style="display:inline-block; width:350px; text-align:left">
        <div class="panel-heading">
            <h3 class="panel-title" style="align-content:center">LOGIN DETAILS</h3>
        </div>
        <div class="panel-body">
            @*<form action="../Login/Emp_Login" method="post">*@
                <table class="table-condensed">
                    <tr>
                        <td>USER NAME</td>
                        <td>
                            <input type="text" id="userName1"  />
                        </td>
                    </tr>
                    <tr>
                        <td>PASSWORD</td>

                        <td>
                            <input type="password" id="password1"  />
                            
                        </td>

                    </tr>
                    <tr>

                        <td align="right"></td>
                        <td align="right">
                            
                            <input type="submit" onclick="login()" value="LOGIN" class="btn btn-primary" />&nbsp;&nbsp;&nbsp;
                            
                            <a href="#" onclick="ForgetPassword()">Forget Password ?</a>
                        </td>
                    </tr>
                </table>
            @*</form>*@
        </div>
    </div>
</div>


<div class="panel panel-primary" style="float: left;width: 100%; display:none;" id="popupdiv">

    <div class="panel-body">
        <table class="table table-condensed table-hover">
            <tr>
                <td>ENTER EMAILID:</td>
                <td><input id="email" type="text" class="form-control" placeholder="YOUR EMAIL ID" /> </td>
            </tr>

            <tr>
                <td colspan="2" align="center" style="padding-top:32px; padding-left:160px;">
                    <input type="button" value="SUBMIT" onclick="CheckEmailId()" class="btn btn-info" />
                    <input type="button" value="CANCEL" onclick="$('#popupdiv').dialog('close');" class="btn btn-info" />
                </td>
            </tr>
        </table>
    </div>
</div>



